body{
    background-color: #adc3db
}

.player-board{
    /* background-color: rgba(0, 0, 0,.8); */
}
.player-board{
    width: min(50vw, 50vh);
    height: min(50vw, 50vh);
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    /* margin-bottom: 30px; */
    /* z-index: -1; */
}
.space{
    border: 3px solid #588ac1;
    border-radius: 5px;
    width: min(5vw, 5vh);
    height: min(5vw, 5vh);

}

.player-area{
    display: grid;
    grid-template-columns: 5fr 10fr ;
    grid-template-rows: 1fr, 10fr;
}

.control{
    grid-column: 1;
    grid-row: 1;
    width: 25vw;
}

.loading-dock {
    width: min(30vw, 30vh);
    height: min(50vw, 50vh);
    grid-column: 1;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 0;
    align-items: center;
    gap: 5px;
    /* display: grid;
    grid-template-columns:repeat(5, 1fr);
    grid-template-rows: repeat(10,1fr); */
    border: 2px solid rgba(163, 162, 162,.8);
}

.space.enemy{
    border: 3px solid rgba(244, 48, 48, 0.8);
}

.space.air-carrier{
    background-color: #494546;
}

.carrier{
    border: 3px solid #696e6a;
    border-radius: 15px;
    background-color: #696e6a;
}

.carrier>div:first-child{
    background-color: #0077cc;
    border-radius: 75%;
}
.space.battleship{
    background-color: #c2c5c3;
}

.space.cruiser{
   background-color: #9ea29f;
}

.space.destroyer{
    background-color: #7a7f7b;
 }

 /* .space.ship{
    border: 5px solid #696e6a;
    background-color: #696e6a;
    border-radius: 15px;
 } */

.block{
    /* border: 5px solid white; */
    /* border-radius: 15px; */
    width: min(5vw, 5vh);
    height: min(5vw, 5vh);
}
.carrier{
    /* grid-column-start:1;
    grid-column-end: -1; */

    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    /* height: 5vw; */

    /* grid-column: span 5;
    grid-row: span 1; */
    /* grid-template-columns: repeat(5,1fr); */
    /* position: absolute; */
}
.carrier.vertical{
   flex-direction: column;
}

.space.ship{
    border: 3px solid #8fb0d5;
}

.player-board>div:over{
    animation: pop 0.3s linear .3;
    /* border:5px solid#0077cc;
    color:#0077cc;
    border-radius: 15px; */
}

.space.hit{
    background-color: red;
}
.space.miss{
    background-color: green;
}

.hide{
    display: none;
}

.display{
    position: Absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    text-align: center;
    width:80vw;
    left: 50%;
    margin-left: -40vw;
    z-index: 2;
    font-weight: 800;
}

.selected{
    background-color: whitesmoke;
}



.pop{
    animation: pop 0.3s linear .3;
    border:5px solid rgb(250, 87, 54);
    color:#0077cc;
    border-radius: 4px;
  }
  @keyframes pop{
    50%  {transform: scale(1.2);}
  }

  @media only screen and (max-width: 600px) {
    html, body {width: auto!important; overflow-x: hidden!important} 

    .player-area{
        grid-template-columns: 1fr;
        grid-template-rows: 6fr 1fr 6fr;
    }
    .player-board{
        width: min(90vw, 90vh);
        height: min(90vw, 90vh);
        margin-left: min(5vw,5vh);
    }
    .player-board{
        grid-row: 1;
    }
    .control{
        display: flex;
        grid-row: 2;
    }
    .loading-dock{
        width: min(90vw, 90vh);
        height: min(40vw, 40vh);
    }
    /* #carrier5{
        position: absolute;
        background-color: red;
    } */
    
        
  }