body{
    /* background-color: rgb(194, 197, 195,.8) */
}

.player-board{
    /* background-color: rgba(0, 0, 0,.8); */
}
.player-board{
    width: 50vw;
    height: 50vw;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}
.space{
    border: 5px solid #588ac1;
    border-radius: 15px;
    width: 5vw;
    height: 5vw;

}

.player-area{
    display: grid;
    grid-template-columns: 5fr 10fr ;
    grid-template-rows: 1fr, 10fr;
}

.control{
    grid-column: 1;
    grid-row: 1;
    width: 25vw;
}

.loading-dock {
    width: 30vw;
    height: 50vw;
    grid-column: 1;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 0;
    align-items: center;
    gap: 5px;
    /* display: grid;
    grid-template-columns:repeat(5, 1fr);
    grid-template-rows: repeat(10,1fr); */
    border: 2px solid rgba(163, 162, 162,.8);
}

.space.enemy{
    border: 5px solid rgba(244, 48, 48, 0.8);
}

.space.air-carrier,
.carrier{
    border: 5px solid #696e6a;
    border-radius: 15px;
    background-color: #696e6a;
}
/* .space.battleship,
#bship4>.block{
    background-color: #97b3d1;
}
.space.cruiser,
#cruiser3>.block,
#cruiser-3>.block{
   background-color: #083248;
}
.space.destroyer,
#destroyer2>.block{
    background-color: #8f9676;
 } */

 .space.ship{
    border: 5px solid #696e6a;
    background-color: #696e6a;
    border-radius: 15px;
 }

.block{
    /* border: 5px solid white; */
    /* border-radius: 15px; */
    width: 5vw;
    height: 5vw;
}
.carrier{
    /* grid-column-start:1;
    grid-column-end: -1; */

    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    /* height: 5vw; */

    /* grid-column: span 5;
    grid-row: span 1; */
    /* grid-template-columns: repeat(5,1fr); */
    /* position: absolute; */
}
.carrier.vertical{
   flex-direction: column;
}

/* .space.carrier{
    display: inline-block;
    position: relative;
    width: 25vw;
} */

.player-board>div:over{
    animation: pop 0.3s linear .3;
    /* border:5px solid#0077cc;
    color:#0077cc;
    border-radius: 15px; */
}

.hide{
    display: none;
}

.pop{
    animation: pop 0.3s linear .3;
    border:5px solid#0077cc;
    color:#0077cc;
    border-radius: 15px;
  }
  @keyframes pop{
    50%  {transform: scale(1.2);}
  }