body{
    /* background-color: rgb(194, 197, 195,.8) */
}

.player-board{
    /* background-color: rgba(0, 0, 0,.8); */
}
.player-board{
    width: 50vw;
    height: 50vw;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    /* z-index: -1; */
}
.space{
    border: 5px solid #588ac1;
    border-radius: 15px;
    width: 5vw;
    height: 5vw;

}

.player-area{
    display: grid;
    grid-template-columns: 5fr 10fr ;
    grid-template-rows: 1fr, 10fr;
}

.control{
    grid-column: 1;
    grid-row: 1;
    width: 25vw;
}

.loading-dock {
    width: 30vw;
    height: 50vw;
    grid-column: 1;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 0;
    align-items: center;
    gap: 5px;
    /* display: grid;
    grid-template-columns:repeat(5, 1fr);
    grid-template-rows: repeat(10,1fr); */
    border: 2px solid rgba(163, 162, 162,.8);
}

.space.enemy{
    border: 5px solid rgba(244, 48, 48, 0.8);
}

.space.air-carrier{
    background-color: #494546;
}

.carrier{
    border: 5px solid #696e6a;
    border-radius: 15px;
    background-color: #696e6a;
}

.carrier>div:first-child{
    background-color: #0077cc;
    border-radius: 75%;
}
.space.battleship{
    background-color: #c2c5c3;
}

.space.cruiser{
   background-color: #9ea29f;
}

.space.destroyer{
    background-color: #7a7f7b;
 }

 /* .space.ship{
    border: 5px solid #696e6a;
    background-color: #696e6a;
    border-radius: 15px;
 } */

.block{
    /* border: 5px solid white; */
    /* border-radius: 15px; */
    width: 5vw;
    height: 5vw;
}
.carrier{
    /* grid-column-start:1;
    grid-column-end: -1; */

    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    /* height: 5vw; */

    /* grid-column: span 5;
    grid-row: span 1; */
    /* grid-template-columns: repeat(5,1fr); */
    /* position: absolute; */
}
.carrier.vertical{
   flex-direction: column;
}

.space.ship{
    border: 5px solid #8fb0d5;
}

.player-board>div:over{
    animation: pop 0.3s linear .3;
    /* border:5px solid#0077cc;
    color:#0077cc;
    border-radius: 15px; */
}

.space.hit{
    background-color: red;
}
.space.miss{
    background-color: green;
}

.hide{
    display: none;
}

.display{
    position: Absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    text-align: center;
    width:80vw;
    left: 50%;
    margin-left: -40vw;
    z-index: 2;
    font-weight: 800;
}

.pop{
    animation: pop 0.3s linear .3;
    border:5px solid rgb(250, 87, 54);
    color:#0077cc;
    border-radius: 15px;
  }
  @keyframes pop{
    50%  {transform: scale(1.2);}
  }